/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
		
}
@media only screen and (max-width : 1200px){
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
		.wow{
    animation-name: none !important;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.wow{
    animation-name: none !important;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 355px) {
	
	.wow{
    animation-name: none !important;
	}
  
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}