@import  "media";
@import  "var";

.top-bar{
	min-height: 60px;
	background-color: $zeleniy; 
	.bar__item{
		min-height: 60px;
		display: flex;
		img{
			float: left;
			margin: auto 0px;
			margin-right: 8px;
		}
		p{
		    margin: auto 0px;
			color: #fff;
		} 
	}
} 




.product{
	min-height: 135px;
	.product__item{
		display: flex;
		min-height: 135px;
		img{
			margin: auto;
		}
		h1{
			margin: auto;
			color: #06683a;
    		font-size: 35px;
    		font-weight: 400;
    		text-transform: uppercase;
		}
		a{
			@extend .btn;
			margin: auto;
			}
		}
}



.cont__head{
	max-height: 600px;
	.sl{
		max-height: 600px;
		.slick-list{
			max-height: 600px;
		}
		.slick-track{
			max-height: 600px;
		}
		.slick-dots{
			bottom: 25px;
		}
	}
	
}


.block{
	min-height: 666px;
	h2{
		@extend .zagl
	}
	.head__item{
		min-height: 320px;
	}
	img{
		width: 100%;
	}
	h4{
		text-transform: uppercase;
		color: $zeleniy;
		font-weight: 600;
	}
}

.block2{
	min-height: 400px;
	background-color: $zeleniy;
	h3{
		text-align: center;
		margin: 70px 0px;
		color: #fff;
	}
	.a_wrp{
		display: flex;
	}
	a{
		@extend .btn;
		margin: 20px auto;
	}
}



.preimusestva{
	h2{
		@extend .zagl;
	}
	min-height: 790px;
	.preimusestva__item{
		margin-top: 110px;
		.circl{
		height: 160px;
		width: 160px;
		background-color: $zeleniy;
		border-radius: 50%;
			margin: auto;
			img{
				margin: 25% 25%;
			}
		}
		p{
			text-align: center;
		} 
		
	}
}


.block4{
	.overlay{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	height: auto;
	background-image: url(../img/bg.png);
	background-position: center center;      
  	background-repeat: no-repeat;            
 	background-size: cover;      
	.h3{
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		padding: 25px;
		margin: 70px 0px;
	}
	p{
		color: #fff;
	}
	ul{
		margin: 50px 0px;
		color: #fff;
	}
	h3{
		color: #fff;
	}
	
	a{
		@extend .btn;
		float: right;
		margin: 20px 0px;
	}
}


.docs{
	min-height: 550px;
	h3{
		@extend .zagl;
	}
	.sl2{
		margin: 60px 50%;
    	transform: translateX(-50%);
		display: block;
		h2{
			text-align: left !important;
		}
		p{
			text-align: left !important;
		}
		.slick-dots{
			bottom: -95px;
    		left: -31%;
		}
		.doc-logo{
			width: 250px;
    		height: 250px;
    		background-image: url(../img/doc-logo.png);
    		float: left;
    		border-radius: 50%;
		}
		.slick-dots li button:before{
			color: #c6c6c6;
		}
		.slick-dots li.slick-active button:before{
    		opacity: .75;
    		color: green;
		}
		.slick-dots li button:hover:before,
		.slick-dots li button:focus:before{
    		opacity: 0.75;
			color: green;
		}
	}
	a{
		@extend .btn;
		display: inline-block;
	}
	
	
	.slider-docs{
		.doc-logo{
			width: 250px;
    		height: 250px;
    		background-image: url(../img/doc-logo.png);
    		border-radius: 50%;
			margin: 0px auto;
		}
		h2{
			text-align: center;
		}
		p{
			text-align: center;
		}
		.a_wrap{
			display: flex;
		}
		a{
			@extend .btn;
			display: inline-block;
			margin: 30px auto;
		}
	}
	
	
	
}


.counter{
	min-height: 450px;
	background-color: $zeleniy;
	.counter__item{
		display: block;
	.number{
		color: #fff;
		text-align: center;
		font-size: 40px;
    	margin: 40px 0px;
		}
	.gran{
		margin: auto;
    	width: 134px;
   		height: 134px;
    	background-color: #fff;
    	border-radius: 50%;
		margin: 50px auto;
		img{
			margin: 27% 28%;
		}
		}
	.text{
		color: #fff;
		text-align: center;
		}
	}
}


.foto{	
	h2{
		@extend .zagl;
	}
	.sl4{
		margin: 60px 0px;
		.slick-next{
			right: 14px;
    		top: 50%;
		}
		.slick-prev {
    		left: 0px;
    		z-index: 1;
    		top: 50%;
		}
	}
}
 

.presentation{
	min-height: auto;
	background-image: url(../img/presentation.png);
	background-position: center center;      
  	background-repeat: no-repeat;            
 	background-size: cover;
	.overlay{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	.video{
		width: 100%;
		height: 350px;	
		margin: 100px 0px;
	}
	ul{
		margin: 150px 0px auto;
		li{
			list-style: none;
			margin: 50px 0px;
			color: #fff;
			&:before {
					content: "✔";
			}
		}
	}
}



.otzivy{
	h2{
		@extend .zagl;
	}
	.otziv__item{
			h4{
				text-align: center;
			}
			p{
				text-align: center !important;
				color: #989696;
			}
			.bg{
				width: 200px;
				height: 200px;
				background-color: $zeleniy;
				position: relative;
				border-radius: 50%;
				margin: 0px auto;
				img{
					display: block;
    				margin: 0px auto;
    				padding-top: 20px;
				}
				p{
					text-align: center;
					padding-top: 10px;
					color: #fff;
					width: 150px;
					margin: 0px auto;
				}
				.ava{
					background-image: url(../img/coment.png);
					background-size: cover;
					background-repeat: no-repeat;
					position: absolute;
					width: 75px;
					height: 75px;
					background-color: azure;
					border-radius: 50%;
					top: 0;
					left: -25px;
					}	
			}
		}
	.sl3{
		.otziv__item{
			h4{
				text-align: center;
			}
			p{
				text-align: center !important;
				color: #989696;
			}
			.bg{
				width: 200px;
				height: 200px;
				background-color: $zeleniy;
				position: relative;
				border-radius: 50%;
				margin: 0px auto;
				img{
					display: block;
    				margin: 0px auto;
    				padding-top: 20px;
				}
				p{
					text-align: center;
					padding-top: 10px;
					color: #fff;
					width: 150px;
					margin: 0px auto;
				}
				.ava{
					background-image: url(../img/coment.png);
					background-size: cover;
					background-repeat: no-repeat;
					position: absolute;
					width: 75px;
					height: 75px;
					background-color: azure;
					border-radius: 50%;
					top: 0;
					left: -25px;
					}	
			}
		}
		.slick-dots li button:before{
			color: #c6c6c6;
		}
		.slick-dots li.slick-active button:before{
    		opacity: .75;
    		color: green;
		}
		.slick-dots li button:hover:before,
		.slick-dots li button:focus:before{
    		opacity: 0.75;
			color: green;
		}
	}
}




.obzor{
	h2{
		@extend .zagl;
	}
	img{
		width: 100%;
		height: 100%;	
	}
	.arows{
		display: inline-block;
    	margin-left: 50%;
    	transform: translateX(-50%);
		.fa{
			color: $zeleniy;
    		margin-left: 17px;
    		margin-top: 50px;
    		font-size: 30px;
    		float: left;
		}
	}
}



.forms{
	min-height: 450px;
	.forms__item{
		display: block;
		h4{
			text-align: center;
			text-transform: uppercase;
			color: $zeleniy;
		}
		img{
			width: 100%;
		}
		input{
			width: 300px;
			height: 60px;
			border: 1px solid #c6c6c6;
			border-radius: 7px;
			margin: 0px auto;
    		display: block;
			margin-bottom: 45px;
			padding-left: 15px;
		}
		.a_wrp{
			display: flex;
		}
		a{
			@extend .btn;
			margin: 0px auto;
		}
	}
}



.map{
	h2{
		@extend .zagl;
		margin-bottom: 60px;
	}
}
#map{
	height: 600px;
}



footer{
	background-color: $zeleniy;
	ul{
		margin: 0px auto;
		list-style: none;
		color: #fff;
	}
	.wrapp{
		width: 100%;
		margin: 30px 0px;
		img{
			float: left;
		}
		p{
			margin-left: 35px;
			color: #fff;
		}
	}
	.a_wrap{
		display: flex;
	}
	a{
		@extend .btn;
		margin: 30px auto;
	}
	
}






.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  

.modal-content {
    position: fixed;
    top: 10%;
	padding-left: 0px;
	padding-right: 0px;
    background-color: $zeleniy;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
  

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 40px;
    background-color: $zeleniy;
    color: white;
	padding: 0 10px;
}

.modal-body {
	padding: 2px 16px;
	color: #fff;
	background-color: #fff;
	.forms__item{
		display: block;
		h4{
			text-align: center;
			text-transform: uppercase;
			color: $zeleniy;
		}
		img{
			width: 100%;
		}
		input{
			width: 100%;
			height: 60px;
			border: 1px solid #c6c6c6;
			border-radius: 7px;
			margin: 0px auto;
    		display: block;
			margin-bottom: 15px;
			padding-left: 15px;
		}
		.a_wrp{
			display: flex;
		}
		a{
			@extend .btn;
			margin: 0px 0px 10px auto;
			height: auto;
		}
	}

}

.modal-footer {
    height: 40px;
    background-color: $zeleniy;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: 0%; opacity: 0}
    to {top: 10%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

 

