$zeleniy: #00642f; 

.btn{
	width: 310px;
	height: 60px;
	background-color: #9ed631;
	border-radius: 7px;
	display: block;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	color: #000;
		&:hover{
			text-decoration: none;
		}
} 

.zagl{
	background-color: $zeleniy;
	display: inline-block;
	padding-left: 11%;
	padding-right: 5px;
	border-radius: 0px 25px 25px 0px;
	text-transform: uppercase;
	color: #fff;
}